.row1 .block1{
	width: 100%;
	height:600px;
	background-image:url({{ '1.jpg' | asset_url }});
	background-position: center center;
    background-size:cover;
}
.row1 .block2{
	width: 100%;
	height:600px;
	background-color:black;
	padding-top:9%;
	padding-left:5%;
    background-size:cover;
}
.row1 .block2 p {
    font-size: 1em;
    /* margin: 15px 0 0; */
    color: white;
    line-height: 29px;
    width: 67%;
    margin-top: 2%;
}
.row1 .block2 h3{
	font-size: 2.85714em;
    font-weight: 700;
    margin: 0;
    color:white;
}
.row1 .block2 p{
	font-size: 1.28571em;
    margin: 15px 0 0;
    color:white;
}
.row2 .block3 {
    width: 100%;
    height: 600px;
    background-color: #429c80;
    padding-top: 10%;
    padding-left: 20%;
    background-size:cover;
}
.row2 .block3 h3{
	font-size: 2.5em;
    font-weight: 700;
    margin: 0;
    color:black;
}
.row2 .block3 p {
    font-size: 1em;
    color: black;
    width: 85%;
    margin-top: 20px;
    line-height: 25px;
}
.row2 .block4{
    background-size:cover;
	width: 100%;
	height:600px;
	background-image:url({{ '2.jpg' | asset_url }});
	background-position: center center;
}
@media screen and (max-width:600px) {
    .container-fluid{
        padding:0px;
        margin:0px;
    } 
    .container{
        padding:0px;
        margin:0px;
    }   
    .row1 .block2 p {
        font-size: 1em;
        line-height: 26px;
        color: white;
        width: 100%;
        margin-top: 6%;
        text-align: justify;
        color: white;
        padding-left: 21px;
        padding-right: 24px;
        font-weight: 600
    }
    .row2 .block3 p {
        font-size: 1em;
        color: black;
        width: 85%;
        margin-top: 20px;
        line-height: 25px;
        text-align: justify;
        margin: 1px auto;
        line-height: 21px;
        margin-top: 18px;
        padding-left: 26px;
        padding-right: 26px;
        font-weight: 600
    }

}