/*================ Site Header ================*/
html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: Montserrat,sans-serif;
	color:#2d2d2d;
	/* overflow-x:hidden; */
}
 html {
  overflow-y: scroll;
} 
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End Reset css */
/* Start Header */
.header {
    background-image: url({{ 'bg.jpg' | asset_url }});
    background-size: cover;
    width: 100%;
    min-height: 800px;
    background-repeat: no-repeat;
    background-position: center center;
    position:relative;

    .topheader {
	    padding: 36px 0px 0px;	    
	   /*  border-bottom: 1px solid grey; */
	   .toggle{
				display:none;
			}
	    .logo{
			float:left;
			 h1 {
			    color: #429c80;
			    font-weight: bold;
			    font-size: 21px;
			    padding: 0px;
			    margin: 0px;
			}
		}
	    .menutop{
			float:right;
			ul{
				li{
					float:left;								
					a{
						text-transform: uppercase;
					    color: grey;
					    margin-right: 15px;
					    font-size: 13px;
					    text-decoration:none;
					    transition:1.4s;
					    border:none;
					}
					a:last-child {
					    color: red;
					    border: none;
					    padding: 8px;
					    color: grey;
					}		
					a:hover{
						    border-bottom: 2px solid #429c80;
    						color: #429c80;
    						background: transparent;
					}
					a:last-child:hover{
						color:white;
						background:black;
					}					
				}
			}	
		}					
	}
	.bottomheader{
		h1{
			color: black;
		    position: absolute;
		    top: 43%;
		    left: 35%;
		    font-size: 4.2em;
		    line-height: 1px;
		    letter-spacing: 2px;
		    font-weight: bold;
		    padding: 0;
		    margin: 0;
		    z-index: 2;
		}
		span.glyphicon.glyphicon-play-circle {
		    font-size: 130px;
		    background: none;
		    color: #429c80;
		    position: absolute;
		    top: 53%;
		    left: 41%;
		    transition:0.5s;
		}
		span.glyphicon.glyphicon-play {
		    font-size: 55px;
		    color: white;
		    background: #429c80;
		    border-radius: 50%;
		    padding: 30px 30px 30px 34px;
		    position: absolute;
		    top: 52%;
		    left: 42%;
		    transition:0.4s;
		}
		span.glyphicon.glyphicon-play:hover{
			font-size:100px;
		}
	}
}
	/* Css for mobile */
@media screen and (max-width: 600px) {
	body{
		margin:0px;
		padding:0px;
		overflow-x:hidden;
	}
	.header .topheader .logo h1 {
	    color: #429c80;
	    font-weight: bold;
	    font-size: 21px;
	    padding: 0px;
	    margin: 0px;
	    font-family: monospace;
	    padding-left: 14px;
	}
	.bottomheader {
    	display: none;
	}
	.header .topheader .menutop {
	    float: right;
	    margin-top: 20px;
	}
	.header .topheader .toggle {
	    display: block;
	    float: right;
	    font-size: 27px;
	    background: none;
	    border: none;
	    margin-top: -30px;
	    color:green;
	}


	.topheader .menutop {
	    display: none;
	    width: 100%;
	   
	}

	.header .topheader .menutop ul li {
	    display: block;
	    text-align: center;
	    padding: 18px 0px;
	    width: 100%;
	    color: black !important;
	    background: #ffffff47;
	}
	.header .topheader .menutop ul li a:last-child:hover {
	    color: white;
	    background: none;
	    border-bottom: 0px;
	    color: black;
	}
	.header .topheader .menutop ul li a {
	    text-transform: uppercase;
	    color: black;
	    margin-right: 15px;
	    font-size: 13px;
	    text-decoration: none;
	    transition: 1.4s;
	    border: none;
	    font-weight: bold;
	}
	.header {
	    background-image: url(//cdn.shopify.com/s/files/1/0022/8147/2069/t/5/assets/bg.jpg?6401241576825923975);
	    background-size: cover;
	    width: 100%;
	    min-height: 320px;
	    background-repeat: no-repeat;
	    background-position: center center;
	    position: relative;
	}
 .header .bottomheader h1 {
    color: black;
    position: absolute;
    top: 43%;
    left: 35%;
    font-size: 3.2em;
    line-height: 1px;
    letter-spacing: 0px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    z-index: 2;
	}
	.header .bottomheader h1 {
	    color: black;
	    position: absolute;
	    top: 42%;
	    left: 28%;
	    font-size: 1.8em;
	    letter-spacing: 0px;
	    font-weight: bold;
	    padding: 0;
	    margin: 0;
	    z-index: 2;
	}
	.header .bottomheader span.glyphicon.glyphicon-play {
	    font-size: 31px;
	    color: white;
	    background: #429c80;
	    border-radius: 50%;
	    padding: 8px 10px 10px 14px;
	    position: absolute;
	    top: 49%;
	    left: 40%;
	    transition: 0.4s;
	}
	
}
	/* End Css for mobile */
/* End Header */




