.world {
    background-image: url(//cdn.shopify.com/s/files/1/1060/7508/files/home-page-bg_1024x.jpg?v=1494278391);
    width: 100%;
    height: 500px;
    position:relative;
}

.bongmo {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.8;
    z-index:2;
    top:0;
    left:0;
}
.world-caption{
	position:absolute;
	z-index:3;
}
.world-caption h4{
	margin:30px auto;
	text-align:left;
}
.world-caption p {
    margin: 75px 0px;
    line-height: 25px;
    font-size: 16px;
    font-weight: bold;
    width: 70%;
    color: #000000a1;
}
