<div class="blocks">
	<div class="container-fluid">
		<div class="row row1">
			<div class="col-sm-12 col-md-6 block1"></div>
			<div class="col-sm-12 col-md-6 block2">
				<h3>Fits all deadbolts</h3>
				<p>Sesame works with just about any single cylinder deadbolt in the USA, Canada, Denmark, Sweden, Norway, Singapore, Japan, Malaysia thanks to five-patented self-adjusting mechanisms. Sesame doesn't even need to be exactly at the center of your lock or at any specific angle. It just works with your lock perfectly.</p>
			</div>
		</div>
		<div class="row row2">
			<div class="col-sm-12 col-md-6 block3">
				<h3>Remote access</h3>
				<p>The optional Wi-Fi Access Point allows guests to enter no matter where you are. Control who has access and when. You can check if the door is locked from your phone, whether you’re home in bed or across the world.</p>
			</div>
			<div class="col-sm-12 col-md-6 block4"></div>
		</div>
		
	</div>
</div>
 {% schema %}
  {
    "name": "blocks",
   
    "presets": [
      {
        "name": "blocks",
        "category": "Homepage"
      }
    ]
  }

{% endschema %}