<!-- Start crowfunding -->
<div class="crowfunding">
  <div class="row">
    <div class="col-sm-12">
       <div class="container text-center">
        <h2>Crowdfunding</h2>
        <h3>Campaign tracker</h3>   
      </div> 
    </div>     
  </div><!-- End 1 row -->

  <div class="row">
        <div class="col-xs-12 col-sm-12  col-sm-offset-4">
            <div class="kickstarter">
              <ul>
                <li><strong>75%</strong><span>funded</span></li>
                <li><strong>$1000</strong><span>pledged</span></li>
                <li><strong>10</strong><span>backers</span></li>
              </ul>
              </div> 
        </div>
  </div><!-- End 1 row -->
     
</div><!-- End Start crowfunding -->