<div class="email">
	<div class="container">
		<div class="text-center email-content ">
			<label>STAY UP TO DATE</label>
			<div class="underline"></div>
			<form action="" method="POST" role="form">		
				<div class="form-group">
					<input type="text" class="form-control" id="" placeholder="Email address" >
					<button type="submit" class="btn btn-primary">Subscribe</button>
				</div>				
			</form>
		</div>

	</div>
</div>
 {% schema %}
  {
    "name": "email",
   
    "presets": [
      {
        "name": "email",
        "category": "Homepage"
      }
    ]
  }

{% endschema %}