<div class="feature-list">
	<div class="container">
		<div class="feature-caption">
			<h2 class="home-section-title">Text columns with icons</h2>
			<div class="underline"></div>
		</div>
		<div class="feature-content">
			<div class="row feature-list">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="feature-content-item">
						<i class="fa fa-hand-rock-o fa-3x"></i>	
						<h3 class="h4">Remote knock</h3>
						<p>Don't even pull out your phone. A custom knock on your phone or door is enough to open Sesame.</p>					
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="feature-content-item">
						<i class="fa fa-battery-4 fa-3x"></i>	
						<h3 class="h4">Long lasting battery</h3>
						<p>Don't even pull out your phone. A custom knock on your phone or door is enough to open Sesame.</p>					
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="feature-content-item">
						<i class="fa fa-key fa-3x"></i>	
						<h3 class="h4">Key still works</h3>
						<p>Don't even pull out your phone. A custom knock on your phone or door is enough to open Sesame.</p>					
					</div>
				</div>			
			</div><!-- End 1 row -->
			<div class="row feature-list">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="feature-content-item">
						<i class="fa fa-hand-rock-o fa-3x"></i>	
						<h3 class="h4">Remote knock</h3>
						<p>Don't even pull out your phone. A custom knock on your phone or door is enough to open Sesame.</p>					
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="feature-content-item">
						<i class="fa fa-battery-4 fa-3x"></i>	
						<h3 class="h4">Long lasting battery</h3>
						<p>Don't even pull out your phone. A custom knock on your phone or door is enough to open Sesame.</p>					
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="feature-content-item">
						<i class="fa fa-key fa-3x"></i>	
						<h3 class="h4">Key still works</h3>
						<p>Don't even pull out your phone. A custom knock on your phone or door is enough to open Sesame.</p>					
					</div>
				</div>			
			</div><!-- End 1 row -->
		</div>
	</div>
	
</div>
 {% schema %}
  {
    "name": "feature",
   
    "presets": [
      {
        "name": "feature",
        "category": "Homepage"
      }
    ]
  }

{% endschema %}