<div class="header">
   <div class="topheader">
      <div class="container">
         <div class="row">
            <div class="col-md-3">
               <div class="logo">
                  <h1>Jumpstart</h1>
               </div>
            </div>
            <!-- End col 3 -->
            <div class="col-md-9">
               <button class="glyphicon glyphicon-th-list toggle" ></button>              
               <nav class="menutop"> 
                  <ul>
                     <li><a href="">Features</a></li>
                     <li><a href="">faq</a></li>
                     <li><a href="">news</a></li>
                     <li><a href="">Icon</a></li>
                     <li><a href="">Buy $149.99</a></li>
                  </ul>
               </nav>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script>
               $(document).ready(function(){
                   $(".toggle").click(function(){
                        $(".menutop").slideToggle();
                   });                  
               });
            </script>
            <!-- End col 9 -->
         </div>
         <!-- End row -->
      </div>
   </div><!-- End top header -->
   <div class="bottomheader">
     <h1>Open Sesame</h1>
      <a href="">
        <span class="glyphicon glyphicon-play"></span>
      </a> 
   </div>
</div><!-- End header -->
<div  style="clear:both"></div>

