<div class="news">
  <div class="container">
    <div class="row">
      <div class="title">
        <h1>NEWS</h1>
        <hr>
      </div>
    </div><!-- End row -->
    <div class="row _1item active">
      <div class="col-md-2">
        <img src="//cdn.shopify.com/s/files/1/1060/7508/articles/iphone_white_wifi_1024x1024.jpg?v=1459284215" alt="">
      </div>
      <div class="col-md-10">
        <h2>Backer Update #1: Updated Production and Shipping Timeline</h2>
        <p>January 31, 2016</p>
      </div>
    </div><!-- End 1 row -->
    <div class="row _1item">
      <div class="col-md-2">
        <img src="//cdn.shopify.com/s/files/1/1060/7508/articles/iphone_white_wifi_1024x1024.jpg?v=1459284215" alt="">
      </div>
      <div class="col-md-10">
        <h2>Backer Update #1: Updated Production and Shipping Timeline</h2>
        <p>January 31, 2016</p>
      </div>
    </div><!-- End 1 row -->
    <div class="row _1item">
      <div class="col-md-2">
        <img src="//cdn.shopify.com/s/files/1/1060/7508/articles/iphone_white_wifi_1024x1024.jpg?v=1459284215" alt="">
      </div>
      <div class="col-md-10">
        <h2>Backer Update #1: Updated Production and Shipping Timeline</h2>
        <p>January 31, 2016</p>
      </div>
    </div><!-- End 1 row -->
    <div class="row _1item">
      <div class="col-md-2">
        <img src="//cdn.shopify.com/s/files/1/1060/7508/articles/iphone_white_wifi_1024x1024.jpg?v=1459284215" alt="">
      </div>
      <div class="col-md-10">
        <h2>Backer Update #1: Updated Production and Shipping Timeline</h2>
        <p>January 31, 2016</p>
      </div>
    </div><!-- End 1 row -->
  </div>
  <div class="row">
    <p class="center">
      <a class="btn btn--large btn--outline btn--dark" href="/blogs/news">More posts</a>
    </p>   
  </div><!-- End 1 row -->
</div>
{% schema %}
{
  "name": "news",

  "presets": [
  {
    "name": "news",
    "category": "Homepage"
  }
  ]
}

{% endschema %}