<div class="slider">
	<div id="carousel-id" class="carousel slide" data-ride="carousel">		
		<div class="carousel-inner">
			<div class="item">
				<div class="slider-image">
					{{ "slider1.jpg" | asset_url | img_tag: "Main Logo" }}
				</div>
			</div>
			<div class="item">
				<div class="slider-image">
					{{ "slider2.jpg" | asset_url | img_tag: "Main Logo" }}
				</div>			
			</div>
			<div class="item active">
				<div class="slider-image">
					{{ "slider1.jpg" | asset_url | img_tag: "Main Logo" }}
				</div>					
			</div>
		</div>
		<a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
		<a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>
</div>
{% schema %}
{
	"name": "slider",

	"presets": [
	{
		"name": "Slider",
		"category": "Homepage"
	}
	]
}

{% endschema %}