<div class="world">
	<div class="bongmo"></div>
	<div class="container">
		<div class="world-caption">
			<h4>ALL AROUND THE WORLD</h4>
			<p>We've been receiving lots of inquiries from backers all over the world about Sesame's compatibility with their locks. After summarizing hundreds of photos, we are now confident to conclude that Sesame is also compatible with most locks in Sweden, Denmark and Japan! That expands our original market in North America.</p>
			<p>We will continue our mission and bring Sesame to every corner of the world. Check out the photo with all the locks that work with Sesame. And it's only part of them!</p>
		</div>
		
	</div>
</div>
{% schema %}
{
	"name": "world",

	"presets": [
	{
		"name": "world",
		"category": "Homepage"
	}
	]
}

{% endschema %}